@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.card {
  background: var(--article-bg);
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  cursor: pointer;
  padding: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1100px) {
  .card {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
}

.content {
  flex: 1;
}

.heading {
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: var(--accent-color);
}

.paragraph {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: #eee;
}

.image {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
}

.profile-image {
  border-radius: 50%;
  overflow: hidden;
}

.profile-image img {
  transition: transform 0.3s ease;
}

.profile-image:hover img {
  transform: scale(1.2);
}

.button {
  background: var(--accent-color);
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  color: #eee;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 1.5rem;
}

.button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
