/* styles/About.module.css */

.card {
  background: var(--article-bg);
  display: flex;
  flex-direction: row; /* Adjust to your layout */
  border-radius: 20px;
  cursor: pointer;
  padding: 1.5rem; /* Increased padding for better spacing */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation for hover effect */
}

.card:hover {
  transform: translateY(-5px); /* Move card up slightly on hover */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Shadow effect on hover */
}

@media screen and (max-width: 1100px) {
    .card {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
    }
}

.content {
  flex: 1; /* Ensure content takes remaining space */
}

.content h3 {
  margin-bottom: 1rem; /* Adjust heading margin for spacing */
}

.content p {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 1.5rem; /* Add bottom margin for paragraphs */
}

.image {
  margin-left: 1.5rem; /* Increased spacing between content and image */
  display: flex;
  align-items: center; /* Center align image vertically */
}

.profile-image {
  border-radius: 50%; /* Make the profile picture rounded */
  overflow: hidden; /* Ensure rounded corners clip the image */
}

.profile-image img {
  transition: transform 0.3s ease; /* Animation for image on hover */
}

.profile-image:hover img {
  transform: scale(1.1); /* Scale up image on hover */
}
