@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.card {
  background: var(--article-bg);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  cursor: pointer;
  padding: 1rem;
  overflow: hidden; /* Ensure content overflow is hidden */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.image {
  object-fit: contain;
  padding: 10px;
}

.content {
  padding: 1rem;
  border-radius: 0 0 20px 20px;
  position: relative;
  height: 100%;
}

.content_wrapper {
  position: absolute;
  bottom: 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0 1rem;
}

.dates {
  margin-left: 0.5rem;
}

.tags span {
  margin: 0.5rem 0.5rem 0 0;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  font-size: 0.75rem;
  background: var(--accent-color);
  color: #fff;
  transition: all 0.2s;
}

.description {
  padding: 0.5rem;
  margin-bottom: 4rem;
}

.descriptionList {
  font-size: 0.875rem;
  padding-left: 20px; /* Ensure padding for bullet */
  padding-right: 10px; /* Ensure padding for bullet */
  margin: 0; /* Remove default margin */
  list-style-type: disc; /* Set list style */
  text-wrap: pretty;
  overflow: hidden;
  height: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 10; /* Number of lines to show before expanding */
  -webkit-box-orient: vertical;
}

.descriptionList.expanded {
  -webkit-line-clamp: initial; /* Show all lines when expanded */
}

.toggle {
  cursor: pointer;
  color: var(--accent-color);
  margin-top: 0.5rem;
  display: block;
}

.toggle:hover {
  text-decoration: underline;
}

@media screen and (min-width: 2000px) {
  .card {
    padding: 2rem;
  }
  .image {
    height: 200px;
    width: 200px;
  }
  .descriptionList {
    font-size: 1rem;
  }
  .tags span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1100px) {
  .card {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .descriptionList {
    font-size: 0.75rem;
  }
  .tags span {
    font-size: 0.625rem;
  }
}

@media screen and (max-width: 600px) {
  .card {
    flex-direction: column;
    padding: 1rem;
  }
  .tags span {
    font-size: 0.75rem;
  }
}
