/* ExperienceCard.module.css */

.card {
  background: var(--article-bg);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  cursor: pointer;
  padding: 8px 2px;
  overflow: hidden; /* Ensure content overflow is hidden */
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 8px 8px 10px rgba(252, 252, 252, 0.1);
}

.image {
  object-fit: contain;
  padding: 10px;
}

.content {
  padding: 1rem;
  border-radius: 0 0 20px 20px;
  position: relative;
  height: 100%;
}

.content_wrapper {
  position: absolute;
  bottom: 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0 1rem;
}

.tags span {
  margin: 0.5rem 0.5rem 0 0;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  font-size: 0.75rem;
  transition: all 0.2s;
}

.description {
  padding: 10px;
  margin-bottom: 4rem;
}

.descriptionList {
  font-size: 0.75rem;
  padding-left: 20px; /* Ensure padding for bullet */
  padding-right: 10px; /* Ensure padding for bullet */
  margin: 0; /* Remove default margin */
  list-style-type: disc; /* Set list style */
  text-wrap: pretty;
  overflow: hidden;
  height: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 10; /* Number of lines to show before expanding */
  -webkit-box-orient: vertical;
}

.descriptionList.expanded {
  -webkit-line-clamp: initial; /* Show all lines when expanded */
}

.toggle {
  cursor: pointer;
  color: var(--accent-color);
  margin-top: 0.5rem;
  display: block;
}

.toggle:hover {
  text-decoration: underline;
}
